.container {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
}

.toggle {
    align-items: center;
    background-color: var(--buttonColor);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 40px;
    justify-content: space-between;
    margin-left: 50px;
    width: 100px;
}

.toggle img {
    margin: 0 15px;
}

.toggle:hover {
    filter: brightness(110%);
}
