.form {
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background-color: rgba(255, 255, 255, 0.06);
    caret-color: var(--textColor);
    color: var(--textColor);
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.title:hover, .title:focus {
    background: var(--hover);
}

.title::placeholder {
    color: var(--placeholderColor);
}

.create {
    width: 100px;
    height: 40px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.create:hover {
    opacity: 0.9;
}

.create:active {
    opacity: 0.7;
}

.errorMessage {
    font-size: 12px;
    color: var(--validationMessageColor);
    height: 20px;
}
