.item {
    align-items: center;
    display: grid;
    grid-template-columns: calc(100% - 100px) 50px 50px;
    height: fit-content;
    list-style-type: none;
}

.item p {
    border-radius: 8px;
    cursor: pointer;
    height: 100%;
    padding: 15px;
}

.item p:hover {
    background: var(--hover);
}

.item p:active {
    background: var(--active);
}

.text {
    font-size: 20px;
    font-weight: 400;
}

.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

.complete {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    justify-self: end;
    width: 30px;
}

.complete img {
    filter: invert(var(--invertion));
}

.complete:hover {
    opacity: 0.7;
}

.delete {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    justify-self: end;
    width: 30px;
}

.delete img {
    filter: invert(var(--invertion));
}

.delete:hover {
    opacity: 0.7;
}
