.container {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background: var(--fieldColor);
    margin-left: 15px;
    cursor: pointer;
}

.container button img {
    filter: invert(var(--invertion));
}

.container button:hover {
    background: var(--hover);
}

.container input {
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background-color: rgba(255, 255, 255, 0.06);
    caret-color: var(--textColor);
    color: var(--textColor);
    font-size: 16px;
    padding: 10px;
    outline: none;
    width: calc(100% - 55px);
}

.container input:hover, .container input:focus {
    background: var(--hover);
}

.container input::placeholder {
    color: var(--placeholderColor);
}