.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container h1 {
    align-items: center;
    font-size: max(3vw, 40px);
}

.container h1 img {
    height: max(2vw, 30px);
    width: max(2vw, 30px);
}
